/* custom css file */

.navbar-bg-color{
    background-color: #FFD000 !important;
}

.navbar-title-color{
    color: #1A1446 !important;
}

.body-bg{
    background-color: #F5F5F5 !important;
}

.teal-bg{
    background-color: #F0FBFC !important;
}

.alert-panel{
    background-color: #b21f2d !important;
    padding: 5px;
    margin-top: 5px;
    color: white;
    width: 350px;
}

.alert-panel-video{
    background-color: #b21f2d !important;
    padding: 5px;
    margin-top: 5px;
    color: white;
    width: 350px;
}

.info-panel {
    background-color: lightgreen !important;
    padding: 5px;
    margin-top: 5px;
    color: white;
    width: 350px;
}

.counter-panel{
    background-color: #1A1446 !important;
    padding: 5px;
    margin-top: 5px;
    color: white;
    width: 350px;
}

.notification-panel{
    float: right;
}